/* 
    Document   : cswclient-overlay
    Created on : Aug 31, 2013, 5:02:14 PM
    Author     : isuftin
    Description:
       This updates the stock cswclient css with GDP specific CSS
*/

#cswclient {
    clear: both; 
	margin-top: 0px;
}

.csw-main2 {
    border: 0px solid #2e4a6b;
    clear: both;
	padding-top: 0px;
}

.captioneddiv a {
    color: blue;
}

#total_records_returned, #multiple_records_returned {
    border: #2E4A6B solid 1px;
}

#prev_next {
    border: #2E4A6B solid 1px;
}

#xml_presentation {
    border: #2E4A6B solid 1px;
}

