@import "overlay.css";

#ccsa-area {
	padding-top: 5px;
}

.modal-dialog {
	width: 70% !important;
}

.close-button {
	color : #000000;
}

#row-start-instructions,
#row-csw-group,
#row-wps-select,
#row-proceed {
	display : none;
}

.top-lvl-opt {
	font-weight: bold;
}

optgroup {
	margin-left: 3px;
}
