@import "overlay.css";

#ccsa-area {
	padding-top: 5px;
}
.modal {
	z-index: 10001 !important;
}
.modal-dialog {
	width: auto !important;
	z-index: 10001 !important;
}

.spacer {
	margin-top: 25px;
}

#view-full-info-link:hover {
	cursor: pointer;
}

.close-button {
	color : #000000;
}

#row-start-instructions,
#row-csw-group,
#row-wps-select,
#row-proceed,
#row-csw-select-child {
	display : none;
	margin-top: 15px;
}

#row-csw-select-child {
	margin-bottom: 10px;
}

#form-control-select-csw-child {
	width: auto;
	display:inline-block;
}

.top-lvl-opt {
	font-weight: bold;
}
#row-incoming-caller-info {
	margin-top: 15px;
	color: #888;
}
