@import "overlay.css";

#ccsa-area {
	padding-top: 5px;
}
.modal {
    z-index: 10001 !important;
}
.modal-dialog {
	width: auto !important;
    z-index: 10001 !important;
}

#view-full-info-link:hover {
	cursor: pointer;
}

.close-button {
	color : #000000;
}

#row-start-instructions,
#row-csw-group,
#row-wps-select,
#row-proceed {
	display : none;
}

.top-lvl-opt {
	font-weight: bold;
}

optgroup {
	margin-left: 3px;
}
